body {
  margin: 0;
  font-family: Verdana;
}

.flex-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

h1.header {
  color: MediumAquamarine;
  font-size: 14px;
  font-weight: bold;
  padding-right: 930px;
}

.logo {
  padding: 5px 0px 5px 30px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding: 20px;
}

nav a {
  color: black;
  font-weight: bold;
}
